<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Angular JS</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
</head>
<body>
	<a href="#" ng-click="show = !show">Show</a>
	<div ng-show="!show">z.kdjs k\zdhsgklz zkdgf\idu gfds\gf njkh</div>
	<br />
	<a href="#" ng-click="hide = !hide">Hide</a>
	<div ng-hide="hide">z.kdjs k\zdhsgklz zkdgf\idu gfds\gf njkh</div>
	<br />
	<a href="#" ng-click="open = !open">If</a>
	<div ng-if="!open">z.kdjs k\zdhsgklz zkdgf\idu gfds\gf njkh</div>
</body>
</html>